@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  overflow: auto; /* Enables scrolling */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in webkit browsers (Chrome, Safari) */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;      /* For Firefox */
}

@layer base {
  :root {
    --background: #ffffff; /* #ffffff */
    --foreground: #060606; /* #060606 */
    --card: #ffffff; /* #ffffff */
    --card-foreground: #060606; /* #060606 */
    --popover: #ffffff; /* #ffffff */
    --popover-foreground: #060606; /* #060606 */
    --primary: #9BEC00; /* #9BEC00 */
    --primary-foreground: #ffffff; /* #ffffff */
    --secondary: #111A26; /* #111A26 */
    --secondary-foreground: #000000; /* #000000 */
    --third: #050F1C; /* #050F1C */
    --muted: #f4f4f4; /* #f4f4f4 */
    --muted-foreground: #bfbfbf; /* #7d7d7d */
    --accent: #f4f4f4; /* #f4f4f4 */
    --accent-foreground: #1a1a1a; /* #1a1a1a */
    --destructive: #e70000; /* #e70000 */
    --destructive-foreground: #fafafa; /* #fafafa */
    --border: #e1e1e1; /* #e1e1e1 */
    --input: #e1e1e1; /* #e1e1e1 */
    --ring: #060606; /* #060606 */
    --chart-1: #f2a52d; /* #f2a52d */
    --chart-2: #00b195; /* #00b195 */
    --chart-3: #3a5f8f; /* #3a5f8f */
    --chart-4: #6cc28f; /* #6cc28f */
    --chart-5: #a35c24; /* #a35c24 */
    --radius: 0.5rem;
  }

  .dark {
    --background: #060606; /* #060606 */
    --foreground: #fafafa; /* #fafafa */
    --card: #060606; /* #060606 */
    --card-foreground: #fafafa; /* #fafafa */
    --popover: #060606; /* #060606 */
    --popover-foreground: #fafafa; /* #fafafa */
    --primary: #A6FF3F; /* #A6FF3F */
    --primary-foreground: #ffffff; /* #ffffff */
    --secondary: #111A26; /* #111A26 */
    --secondary-foreground: #000000; /* #000000 */
    --third: #050F1C; /* #050F1C */
    --muted: #242424; /* #242424 */
    --muted-foreground: #a0a0a0; /* #a0a0a0 */
    --accent: #242424; /* #242424 */
    --accent-foreground: #f7f7f7; /* #f7f7f7 */
    --destructive: #e70000; /* #e70000 */
    --destructive-foreground: #fafafa; /* #fafafa */
    --border: #242424; /* #242424 */
    --input: #242424; /* #242424 */
    --ring: #d1d1d1; /* #d1d1d1 */
    --chart-1: #2b557f; /* #2b557f */
    --chart-2: #4caf50; /* #4caf50 */
    --chart-3: #ff8f00; /* #ff8f00 */
    --chart-4: #a60f76; /* #a60f76 */
    --chart-5: #6600cc; /* #6600cc */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
